/** Site Scout **/
.items {
	clear:both;
}

.site-scout {
	clear: both;
	border-top: 1px solid #ccc;
	min-height: 3.3em; /* for the hover */
}

.site-scout a, .site-scout span {
	padding-top: 5px;
	padding-bottom: 3px;
}

a.item-title {
	font-weight: 800;
}

.item-header span {
	color: #000000;
	font-weight: bold;
	font-size: 85%;
	padding-bottom: 3px;
}

.item-info, .item-title, .item-user, .item-comment, .item-time, .item-user-link, .item-user-talk {
	display: block;
	float: left;
	text-decoration: none;
}

.item-info {
	font-size: 85%;
	text-align: center;
	width: 45px;
}

.site-scout .item-title {
	width: 275px;
}

.item-user {
	float: right;
	width: 175px;
	font-size: 75%;
}

.item-user img {
	border: 1px solid #ccc;
	vertical-align: middle;
}

.item-user-talk {
	height: 18px;
}

.item-user-talk img {
	vertical-align: middle;
	border: 0px;
	margin-left: 3px;
}

.item-comment {
	float: right;
	font-size: 75%;
	width: 150px;
	overflow: hidden;
}

.item-time {
	color: #666666;
	float: right;
	font-size: 75%;
	width: 110px;
}

table.site-scout-stats {
	color: #666666;
	font-size: 85%;
}

td.site-scout-stats-header {
	font-weight: 800;
}

div#sitescout-toggles-container {
	padding: 15px 0px 15px 0px;
}

div#sitescout-toggles-container img {
	border: 0;
	vertical-align: unset; /* doesn't look so great here IMO, so unsetting it */
}